.homepage {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    justify-content: center;
    align-items: center;
}

.dealer-text {
    font-size: 2.5rem;
    color: var(--color-text);
    font-weight: bold;
} 